@* Archived duplicate of Views/Account/ViewProfileSenior.cshtml *@
@model Chamsoc.Models.CaregiverViewModel
@{
    ViewData["Title"] = "Trang cá nhân người cần chăm sóc";
    string currentUserRole = ViewBag.CurrentUserRole;
}
<div class="container my-5">
    <h2 class="text-center mb-4">Trang cá nhân người cần chăm sóc</h2>
</div>


